a {
    text-decoration: none;
}

.classes-info {
    border:1px solid black;
    display:inline-block;
    padding:5px;
    margin:5px;
}

h1 {
    zoom: 1.6;
}

.classes-info:hover {
    color:red;
    cursor:pointer;
}

.navbar {
    background-color: orangered;
    font-size: 18px;
    line-height: 22px;
}

.navlist {
    margin: 0 0 0 20px;
    padding: 0;
}

.navitem {
    display:inline-block;
    text-decoration: none;
}

.title {
    text-align: center;
}

.tools {
    text-align: center;
    zoom: 2;
}

.button {
    display:block;
    border: none;
    background: none;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    background: rgb(242, 94, 19);
    padding: 15px 40px;
    margin: 20px auto;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }

  .button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    cursor: pointer;
  }