<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About the Tool</title>
</head>
<body>
    <div class="navbar">
        <ul class="navlist">
            <li><a href="/about">About</a></li>
            <li><a href="/main">Schedule Builder</a></li>
        </ul>
    <p>This application is still in beta. If you notice a bug, please submit an issue on our GitHub page.
        If you're a developer, consider submitting a pull request. Thank you!
    </p>
    <p>Currently, this application only supports in-person classes offered at the OSU-Corvallis campus.
        Ecampus (online) courses are not included, since they are asynchronous and can be added to any schedule.
    </p>
</body>
</html>