<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./static/style.css">
    <script src="./static/index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beaver Builder</title>
</head>

<body>
    <div class="title">
        <h1>Beaver Builder</h1>
    </div>
    <div class="osulogo">
        <!-- <img src="./static/imgs/osu_logo.png" alt="Oregon State Logo"/> -->
    </div>
    <!-- <div class="navbar">
        <ul class="navlist">
            <li class="navitem"><a href="/about">About</a></li>
            <li class="navitem"><a href="/main">Schedule Builder</a></li>
        </ul>
    </div> -->
    <div class="tools">
        <p>Input the classes you want to take and this tool will build you a schedule.</p>

        <input name="search" list="courses" placeholder="Search for a class..."/>
        <datalist id="courses"></datalist>
    
        <label for="term-selection">Term</label>
        <select name="Term" id="term-selection">
            <option value="fa22">Fall 2022</option>
        </select>
        <div class="classes-container">
            <p id=>Your classes:</p>
        </div>
    </div>
    <button type="button" class="button" id="generate-button">Generate a Schedule</button>
    <button type="button" class="button" id="clear-button">Clear Schedule</button>


    <div class="generated-schedule">
        {% if schedule %}
        <p id="schedule-text">Your generated schedule: {{ schedule }}</p>
        {% endif %}
    </div>

</body>
</html>